article{
     div.__fontParrafo{
        h4{
            margin-top: $mt-5; 
            color: $_Colorh4;  
        }
        p{
            font-family: $_fontTitle;
            font-family: $_font-Sans-serif;
            width: 500px;
            margin-top: $mt-60;
        }     
     }
     div.__ubicacion-icono{
        @include __interBloqueS();
    }  
    div.__fontInterbloque{
        @include __interBloqueS();
    }
    img{
        margin-bottom: $mb-10;
        width: 64px;
        height: 64px;
        object-fit: contain;
    }
    h2{
        color: $_ColorNegrod;
        font-family:  $_fontTitle;
        font-family: $_font-Sans-serif;
    }
    h2:hover{
        transform: scale(1.2,1.2);
        color: $_ColorHover1;
    }
    a{
        color: $_ColorNegrod;
    }
    a:hover{
        color: $_ColorHover1;
    }
    div._questions-MarginTop{
        margin-top: $mt-15porciento;
    }
    div._questions-MarginTop svg{
        color: white;
        background-color: rgb(158, 214, 158);
        border-radius: 20px;
    }
    div h3{
        font-family: $_fontTitle;
        font-family: $_font-Sans-serif;
    }
} 
article.p-10{
    padding: $p-50;
}

