body._questions-BGcolor{
    background: $_GradienteBody;
}
body._mediosDePago-bgColor{
    background: $_GradienteMediosPago;
}
body{
    div{
        button{
            margin-top: $mt-5;
        }
    }
}
body._trabajo-bg{
    background: $_GradienteBG-main;
}
body._contactanos-BG{
    background: $_GradienteContactanos;
}