@mixin _h1Title{
      font-family: $_fontTitle;
}
header.cabecera{
      height: 150px;
      background: $_GradienteCabecera;
}
header{   
     h1{
        @include _h1Title();
        color: #EFEFE9;
     }
     h1._mediosDePago-TitleColor{
            @include _h1Title();
            color: #282a88;
     }
     h1._questions-Title{
            @include _h1Title();
            color: #000000;
            margin: $m-50;
            font-weight: bold;
     }
}
header.p-10{
      padding: $p-50;
}