main._contactanos-IMG{
    height:70vh;
    background-image: url(../img/7.png);
    object-fit: cover;
}
main.bgmain{
    background: linear-gradient(90deg, rgba(41,41,41,0.9780287114845938) 22%, rgba(116,103,103,0.9976365546218487) 65%, rgba(164,161,155,1) 83%);
    height: 100vh;
}