@mixin trabajosIMG{
    height: 100%;
    background-image: url(../img/carpint.png);
    background-size: cover;
    border: 1px solid black;
}
@media(min-width: 780px){
        section.__bloqueImagenPrincipal{
            height: 600px;
        }
        section{
            div.__imgPrincipal{
                height: 600px;
                background-image: url(../img/carpint.png);
                background-size: cover;
            }
            div.__ubicacion-mapa{
                width: 100%;
                height: 500px;
            }
            div.bgcol1{
                background-color: rgb(255, 255, 255);
                height: 45%;
                width: 80%;
                margin-top: $mt-15porciento;
                margin-left: -$ml-80;
                z-index: 1;
            }
            div.bgcol1:hover{
                opacity: 0;       
            }
            div._trabajos-IMG1{
                @include trabajosIMG();
                background-image: url(../img/1.png);    
            } 
            div._trabajos-IMG1:hover{
                z-index: 3;
                transform: translateX(10px);
                transform: scale(1.2,1.2);
            }

            div._trabajos-IMG2{
                @include trabajosIMG();
                background-image: url(../img/2.png);    
            }
            div._trabajos-IMG2:hover{
                z-index: 3;
                transform: translateX(10px);
                transform: scale(1.2,1.2);
            }

            div._trabajos-IMG3{
                @include trabajosIMG();
                background-image: url(../img/3.png);    
            }
            div._trabajos-IMG3:hover{
                z-index: 3;
                transform: translateX(10px);
                transform: scale(1.2,1.2);
            }

            div._trabajos-IMG4{
                @include trabajosIMG();
                background-image: url(../img/4.png);    
            
            }
            div._trabajos-IMG4:hover{
                z-index: 3;
                transform: translateX(10px);
                transform: scale(1.2,1.2);
            }

            div._trabajos-IMG5{
                @include trabajosIMG();
                background-image: url(../img/5.png);    
            }
            div._trabajos-IMG5:hover{
                z-index: 3;
                transform: translateX(10px);
                transform: scale(1.2,1.2);
            }

            div{
                h6{
                    margin-left: 5%;
                    font-family: $_fontTitle;
                    font-family: $_font-Sans-serif;
                }
            }   
            div{
                span{
                    margin-left: 40%;
                    color: $_ColorSpan;
                }
            }
        }
        section._contactanos-Contenedor{
            height:100vh;
        }
        section.bgsec{
            height: 40vh;
        }
        section._heightContactanos{
            height: 100vh;
        }
}
@media(max-width:780px){
            section.__bloqueImagenPrincipal{
                height: 600px;
            }
            section{
                div.__imgPrincipal{
                    height: 600px;
                    background-image: url(../img/carpint.png);
                    background-size: cover;
                }
                div.__ubicacion-mapa{
                    width: 100%;
                    height: 500px;
                }
                div.bgcol1{
                    background-color: rgb(255, 255, 255);
                    height: 25%;
                    width: 80%;
                    z-index: 1;
                }
                div.bgcol1:hover{
                    opacity: 0;
                }
                div._trabajos-IMG1{
                    @include trabajosIMG();
                    background-image: url(../img/1.png);    
                } 
                div._trabajos-IMG2{
                    @include trabajosIMG();
                    background-image: url(../img/2.png);    
                }
                div._trabajos-IMG3{
                    @include trabajosIMG();
                    background-image: url(../img/3.png);    
                }
                div._trabajos-IMG4{
                    @include trabajosIMG();
                    background-image: url(../img/4.png);    
                
                }
                div._trabajos-IMG5{
                    @include trabajosIMG();
                    background-image: url(../img/5.png);    
                }
                div{
                    h6{
                        margin-left: 5%;
                        font-family: $_fontTitle;
                        font-family: $_font-Sans-serif;
                    }
                }   
                div{
                    span{
                        margin-left: 40%;
                        color: $_ColorSpan;
                    }
                }
            }
            section._contactanos-Contenedor{
                height:95vh;
            }
            section.bgsec{
                height: 40vh;
            }
            section._heightContactanos{
                height: 95vh;
            }
}
