@mixin trabajosIMG{
    background-color: rgb(17, 17, 17);
    height: 100%;
    background-image: url(../img/carpint.jpg);
    background-size: cover;
    border: 1px solid black;
}
section.__bloqueImagenPrincipal{
    height: 600px;
}
section{
    div.__imgPrincipal{
        height: 600px;
        background-image: url(../img/carpint.jpg);
        background-size: cover;
    }
    div.__ubicacion-mapa{
        width: 100%;
        height: 500px;
    }
    div.bgcol1{
        background-color: rgb(255, 255, 255);
        height: 45%;
        width: 80%;
        margin-top: 15%;
        margin-left: -25%;
        z-index: 1;
    }
    div._trabajos-IMG1{
        @include trabajosIMG();
        background-image: url(../img/1.jpg);    
    } 
    div._trabajos-IMG1:hover{
        z-index: 3;
        transform: translateX(10px)
    }

    div._trabajos-IMG2{
        @include trabajosIMG();
        background-image: url(../img/2.jpg);    
    }
    div._trabajos-IMG2:hover{
        z-index: 3;
        transform: translateX(10px)
    }

    div._trabajos-IMG3{
        @include trabajosIMG();
        background-image: url(../img/3.jpg);    
    }
    div._trabajos-IMG3:hover{
        z-index: 3;
        transform: translateX(10px)
    }

    div._trabajos-IMG4{
        @include trabajosIMG();
        background-image: url(../img/4.jpg);    
    
    }
    div._trabajos-IMG4:hover{
        z-index: 3;
        transform: translateX(10px)
    }

    div._trabajos-IMG5{
        @include trabajosIMG();
        background-image: url(../img/5.jpg);    
    }
    div._trabajos-IMG5:hover{
        z-index: 3;
        transform: translateX(10px)
    }

    div{
        h6{
            margin-left: 5%;
            font-family: 'Dancing Script', cursive;
            font-family: 'Didact Gothic', sans-serif;
        }
    }   
    div{
        span{
            margin-left: 40%;
            color: rgb(83, 56, 4);
        }
    }
}
section._contactanos-Contenedor{
    height:100vh;
}
section.bgsec{
    background-color:rgb(117, 115, 115);
    height: 40vh;
}
