//color
$_GradienteBody: linear-gradient(135deg,rgb(211, 231, 214) 50%,rgba(235,235,235,1) 50%);
$_GradienteCabecera: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(5,59,71,1) 27%, rgba(7,146,175,1) 100%);
$_GradienteBG-main: linear-gradient(115deg,rgb(211, 231, 214) 50%,rgba(235,235,235,1) 50%);
$_GradienteMediosPago: linear-gradient(90deg, rgba(0,0,0,0.9780287114845938) 9%, rgba(255,255,255,0.9976365546218487) 35%, rgba(250,243,243,1) 87%);
$_GradienteContactanos: linear-gradient(90deg, rgba(48,13,2,0.9780287114845938) 22%, rgba(85,32,8,0.9976365546218487) 58%, rgba(120,81,18,1) 83%);
$_ColorHover1: rgb(218, 210, 210);
$_Colorh4: #ab644b;
$_ColorNegrod: rgb(24, 23, 23);
$_ColorLink: rgb(255, 255, 255);
$_ColorSpan: rgb(83, 56, 4);
$_BGColorFondo:  rgb(248, 248, 248);



//Fonts
$_fontTitle: 'Dancing Script', cursive;
$_font-Sans-serif: 'Didact Gothic', sans-serif;


//Padding
$p-50: 50px;

//margin
$m-50: 50px;
$mt-15porciento: 15%;
$mt-10porciento: 10%;
$mt-5porciento: 5%;
$mt-5: 5px;
$mt-60: 60px;
$mb-10: 10px;
$ml-80 : 80px;